

/* FONTS */

@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}


@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

/* END FONTS */

.container_input_login{
    display: flex;
    flex-direction: column;
}

.container_input_login > label{
    font-family: "Poppins-Regular";
    color: #383838;
    margin-bottom: 0.5rem;

}

input{
    outline: none;
    border-radius: 5px;
    font-family: "Poppins-Regular";
    font-size: 1rem;
    padding-left: 0.9rem;
    height: 48px;
    margin-bottom: 1.4rem;
    border: 1px solid #D8D8D8;
}

@media screen and (max-width:720px) {
    

input{
    outline: none;
    border-radius: 5px;
    font-family: "Poppins-Regular";
    font-size: 1rem;
    width: 95%;
    padding-left: 0.9rem;
    height: 41px;
    margin-bottom: 1.4rem;
    border: 1px solid #D8D8D8;
}
}