@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

.containerAvaliation {
    max-width: 1142px;
    margin: auto;
    font-family: "Poppins", Sans-serif, serif;
    overflow: hidden;
    padding: 0 0 50px;
}

.title-avaliation {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
}

.containerAvaliation p {
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.containerAvaliation span {
    font-size: 15px;
    line-height: 24px;
    color: #0b70e2;
    font-style: italic;
}

.card-avaliation {
    margin: 0;
    position: relative;

}

.slick-list {
    overflow: visible !important; /* Alterado para 'visible' */
}

.inner-card {
    display: flex;
    flex-direction: row;
    margin: 0 15px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    transition: transform 0.2s ease-in;
}

.inner-card:hover{
    transform: translateY(-10px);
}

.card-avaliation:hover .overlay{
    transform: translateY(6px);
}

.overlay{
    position: absolute;
    z-index: 0;
    width: 89%;
    height: 20px;
    background: #c7d1d9;
    right: 30px;
    bottom: 5px;
    transition: transform 0.2s ease-out;
}

.left {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #0b70e2;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../assets/Backgroundcard.png");
}

.item-image {
    min-width: 244px;
    width: 224px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.pic-profile {
    width: 135px;
    height: auto;
}

.right {
    flex-grow: 1;
    background-color: #dbe7f1;
    overflow: hidden;
}

.item-meta {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.item-icon {
    width: 59px;
    height: 59px;
    background: white url("../assets/aspas.svg") no-repeat center center;
    box-shadow: 0 2px 17px rgba(7, 0, 76, .26);
}

.stars {
    background-image: url("../assets/star.png");
    background-repeat: repeat-x;
    background-size: auto;
    width: 94px;
    height: 19px;
    margin-right: 20px;
}

.description {
    padding: 0 30px 29px 40px;
}

.sub-title {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 0 0;
}

.description p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

/* Custom Dots */
.custom-dots {
    position: absolute;
    bottom: -50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slick-dots li {
    width: auto !important;
}

.custom-dots li {
    margin: 0 5px;
}

.custom-dots li button {
    width: 100px;  /* Largura dos dots */
    height: 10px;
    background: #ccc;
    border: none;
    border-radius: 5px;
}

.custom-dots li.slick-active button {
    background: #0b70e2;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: transparent;
}

@media (max-width: 1089px) {
    .pic-profile {
        width: 94px;
    }
    .item-image {
        width: 130px;
        min-width: 130px;
    }
    .description {
        padding: 0 20px 20px 20px;
    }
}
